.hero {
  position: relative;
  height: 37.5rem;
  overflow: hidden;

  &__img {
    width: 100%;
    top: 2%;
    transform: translateY(-2%);
  }

  &__text {
    position: absolute;
    top: 19%;
    transform: translateY(-25%);
    left: 0;
    width: 100%;
    text-align: right;
  }

  &__title {
    font-size: 4.7rem;
    font-weight: 300;
    margin: 0;
    padding-right: 2.5rem;
  }

  &__description {
    font-size: 1.65rem;
    font-weight: 300;
    padding-right: 2.5rem;
    max-width: 37.5rem;
    float: right;
    padding-top: 0.625rem;
  }
}
