.hero {
  position: relative;
  height: 37.5rem;
  overflow: hidden;

  &__text {
    position: absolute;
    top: 19%;
    transform: translateY(-25%);
    left: 0;
    width: 100%;
    text-align: right;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0;
    padding-right: 1rem;

    @mixin atSmall {
      font-size: 3rem;
      padding-right: 1rem;
    }

    @mixin atMedium {
      font-size: 3.3rem;
      padding-right: 0.7em;
    }

    @mixin atLarge {
      font-size: 4.7rem;
    }
  }

  &__description {
    font-size: 1rem;
    font-weight: 300;
    padding-right: 0.8rem;
    float: right;
    width: 350px;

    @mixin atSmall {
      font-size: 1.175rem;
      width: 400px;
    }

    @mixin atMedium {
      font-size: 1.3rem;
      width: 450px;
    }

    @mixin atLarge {
      font-size: 1.65rem;
      width: 600px;
    }
  }
}
